name: coverage
on:
  push:
  pull_request:
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Calc coverage
        run: go test ./... -v -covermode=count -coverprofile=coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1.0.5
      - name: Enforce Min Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          path: "coverage.lcov"
          min_coverage: 90 # the plan is to increase this with time
