name: coverage
on:
  push:
  pull_request:
jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: ["1.16.x", "1.17.x"]
        os: [ubuntu-latest]
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Calc coverage
        run: go test ./... -v -covermode=count -coverprofile=coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1.0.9
      - name: Enforce Min Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          path: "coverage.lcov"
          min_coverage: 88 # the plan is to increase this with time
