name: golangci-lint
on:
  pull_request:
jobs:
  golangci:
    strategy:
      matrix:
        go-version: ["1.24.x"] # linting in 1 go version is enough
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: lint
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments. see https://golangci-lint.run/usage/quick-start
          args: --enable gofmt,dupl,goconst,goconst,gocyclo
          #--issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the action will use pre-installed Go
          # skip-go-installation: true
