name: golangci-lint
on:
  pull_request:
jobs:
  golangci:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2
          args: --enable dupl,goconst,goconst,gocyclo
      - name: fmt
        run: golangci-lint fmt --diff --enable gofmt
