on: [ pull_request ]
name: Unittests
jobs:
  test:
    strategy:
      matrix:
        go-version: [ "1.24.x", "1.25.x" ]
        os: [ ubuntu-latest ]
        use_private_example_data_submodule: [ "true", "false" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code AND submodule
        if: matrix.use_private_example_data_submodule == 'true'
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          token: ${{secrets.EXAMPLE_DATA_SUBMODULE_PAT}} # expires 2026-05-15
          # https://github.com/Hochfrequenz/go-bo4e/settings/secrets/actions/EXAMPLE_DATA_SUBMODULE_PAT
          # PAT has repo scope
          submodules: "recursive"
      - name: Checkout code without submodule
        if: matrix.use_private_example_data_submodule == 'false'
        uses: actions/checkout@v5
      - name: Test
        run: go test ./...
